.contact_section {
	max-width: 1000px;
	margin: 20px auto; /* Add margin for spacing */
	padding: 20px; /* Add padding for better layout */
	text-align: center; /* Center the text */
}

.contact_section h1 {
	font-size: 3rem; /* Adjusted font size */
	font-weight: 800;
}

.contact_section p {
	font-weight: 500;
}
